/* 顶部栏复用css */
*{
	font-size: 0;
	margin: 0;
	padding: 0;
}

header{
	min-width: 1300px;
	/* border-bottom: solid 1px #0B92B9; */
	box-shadow: 0 2px 3px #dedede;
	background-color: #FFFFFF;
}

#header_cont{
	width: 96%;
	min-width: 1300px;
	margin: 0 auto;
	padding: 8px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#logo_cont{
	display: inline-block;
	width: 300px;
}

#logo_ima{
	height: 38px;
	float: left;
	margin-left: 20px;
}

/* 搜索框 */
#search_cont{
	display: flex;
	justify-content: center;
	align-items: center;
}

#search_input{
	border: solid 1px #0B92B9;
	width: 200px;
	height: 28px;
	border-right: none;
	outline: none;
	font:14px "宋体","幼圆";
	color: #666666;
	padding-left: 10px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

/* 搜索logo容器 */
#search_logo_cont{
	display: inline-block;
}

.search_logo{
	display: inline-block;
	vertical-align: bottom;
	cursor: pointer;
	width: 30px;
	height: 28px;
	border: solid 1px #0B92B9;
	border-left: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

#search_logo{
	
}

#search_submit{
	margin-left: -30px;
	opacity: 0;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
}

/* 登录注册容器 */
#login_operation{
	display: inline-block;
	width: 150px;
	margin-right: 150px;
}

#login_word{
	cursor: pointer;
	display: inline-block;
	font: 16px "幼圆";
	margin-right: 10px;
}

#logon_word{
	cursor: pointer;
	display: inline-block;
	font: 18px "幼圆";
	border: solid 1px #78d333;
	color: #78d333;
	width: 70px;
	text-align: center;
	line-height: 28px;
	border-radius: 20px;
}

/* 用户个人头像 */
#user_head_cont{
	display: none;
}

/* 鼠标浮在头像(a元素)上以及本体上显示本体操作栏 */
#header_operation_cont:hover,#user_head_href:hover+#header_operation_cont{
	display: block;
}

#user_head{
	width: 38px;
	border-radius: 20px;
	margin-left: 50px;
}

/* 个人操作按钮 */
#header_operation_cont{
	margin-top: -22px;
	display: none;
	position: absolute;
	width: 150px;
}

.header_operation{
	text-align: center;
	font: 18px "宋体";
	color: #676767;
	padding: 8px 0;
	background-color: #FFFFFF;
	box-shadow: 0 2px 3px #dedede;
}

.header_operation:hover{
	cursor: pointer;
	background-color: #e1e1e1;
}

.header_operation_logo{
	width: 22px;
	vertical-align: bottom;
	margin-right: 3px;
}

/* 透明占位容器 */
#first_operation_transparent{
	height: 30px;
	background-color: red;
	opacity: 0;
}

#last_operation_transparent{
	background-color: #FFFFFF;
	height: 10px;
	box-shadow: 0 2px 3px #dedede;
}

/* 写文章按钮 */
#write_but_cont{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 9;
	color: #FFFFFF;
	background-color: #6ff461;
	padding: 15px 15px 17px 5px;
	margin-right: 90px;
	margin-top: -57px;
	float: right;
	font: 22px "幼圆";
	cursor: pointer;
}

#write_logo{
	width: 30px;
	vertical-align: middle;
}