/* 管理员 */
*{
	padding: 0;
	margin: 0;
}

#user{
	display: inline-block;
	width: 400px;
	height: 300px;
	border: solid 1px;
	float: left;
}

#article{
	width: 1300px;
	height: 300px;
	border: solid 1px;
	display: inline-block;
	margin-left: 20px;
}

#user_title,#article_title{
	font-size: 20px;
}