/* 主视图容器 */
#main_cont{
	width: 1300px;
	margin: 40px auto;
	border-radius: 6px;
	background-color: #fffae8;
	padding: 7px;
}

/* 上方标题等信息 */
#article_title{
	margin-top: 15px;
	font:30px "微软雅黑";
	font-weight: bold;
	padding-left: 25px;
}

#serial_title{
	margin: 10px 0;
	text-align: center;
	font: 25px "微软雅黑";
	font-weight: 500;
}

/* 原作者 */
#ori_author{
	font: 20px "宋体";
}

/* 发布人右侧信息 */
#releas_user_cont{
	margin-left: 25px;
	vertical-align: bottom;
	display: table;
}

#releas_user_head{
	width: 45px;
	border-radius: 23px;
	display: table-cell;
	vertical-align: middle;
}

#releas_user_info{
	display: table-cell;
	padding-left: 8px;
	display: table-cell;
	vertical-align: middle;
}

#releas_user_name{
	font: 20px "黑体";
	display: inline-block;
	padding-bottom: 3px;
}

#follow_cont{
	display: inline-block;
	text-align: center;
	font: 15px "微软雅黑","黑体";
	color: #e6757d;
	border: solid 1px;
	border-radius: 20px;
	width: 50px;
	margin-left: 5px;
	vertical-align: top;
}

#user_info_bottom{
	font: 16px "黑体";
	color: #909090;
	padding-left: 3px;
}

/* 文章阅读 */
#article_cont{
	margin-top: 25px;
	font: 24px "宋体";
	padding: 0 45px;
	line-height: 2.7em;
	text-indent: 2em;
}

/* 翻页栏 */
#page_turning_cont{
	text-align: right; 
	margin-right: 30px;
}

.page_select{
	font: 17px "黑体";
	display: inline-block;
}

#catalog{
	border-right: solid 1px;
	padding-right: 7px;
}

#next_chapter{
	padding-left: 7px;
}

/* 评论容器样式 */
#comment_cont{
	width: 1180px;
	padding: 10px 20px 40px;
	margin: 30px auto;
	border-radius: 7px;
	background-color: #ffffff;
}

/* 写评论容器 */
#write_comment{
	margin-top: 20px;
	text-align: center;
}

#comment_user_head{
	vertical-align: top;
	margin-right: 10px;
	width: 45px;
	border-radius: 30px;
}

#comment_textarea{
	width: 980px;
	height: 100px;
	border: solid 1px #dfdfdf;
	border-radius: 5px;
	background-color: #efefef;
	resize: none;
	font: 16px "幼圆";
	padding: 10px;
	position: relative;
	z-index: 1;
}

/* 发表按钮 */
#send_comment_cont{
	overflow: hidden;
	width: 800px;
	margin: -35px 0 50px 300px;
	position: relative;
	z-index: 9;
}

#send_comment_but{
	font:16px "楷体";
	float: right;
	padding: 5px 10px;
	border-radius: 20px;
	background-color: #cfcfcf;
	cursor: not-allowed;
	color: #FFFFFF;
}
/* 评论展示 */
/* 精彩评论标题 */
.specifi_comment{
	margin-top: 30px;
	padding: 0 24px;
}

#show_comment_title{
	font: 23px "黑体";
	margin-left: 20px;
	border-left: solid 4px #ea6847;
	padding-left: 10px;
}

#title_comment_num{
	display: inline-block;
	line-height: 30px;
	margin-left: 10px;
	font: 18px "黑体";
}

/* 具体评论 */
/* 评论者信息 */
.commentator_info{
	display: flex;
	align-items: center;
}

.commentator_head{
	width: 34px;
	border-radius: 25px;
}

.commentator_name{
	font:20px "黑体";
	margin-left: 10px;
}

.comment_up_logo{
	width: 20px;
	margin-left: 10px;
}

.comment_up_num{
	width: 22px;
	font: 18px "黑体";
	color: #595959;
	margin-left: 2px;
}


/* 评论正文 */
.show_comment_word{
	text-indent: 2em;
	width: 1030px;
	margin: 10px auto;
	font: 18px "微软雅黑";
	line-height: 1.5em;
	color: #545454;
	padding: 10px 0 15px 0;
	border-bottom: solid 1px #e8e8e8;
}

/* 无人评论 */
#no_comment{
	font:25px "黑体";
	color: #919191;
	text-align: center;
	padding: 40px 0;
}