/* 阅读页面用户操作栏的样式 */
/*-----------用户个人框------------*/
#float_cont{
	width: 60px;
	text-align: center;
	position:fixed;
	top:100px;
	right:100px;
}

#float_user_head_operation_cont{
	width:50px;
	margin: 0 auto;
}

/*----用户操作logo----*/
#float_user_operation_cont{
	text-align:center;
	
}

#float_user_operation_head{
	height: 50px;
	border-radius:25px;
}

#float_user_head_operation_cont{
	border-radius: 50px;
	border: solid 2px #ececec;
}

#float_user_head_cont{
	cursor: pointer;
	border-radius: 50%;
	overflow: hidden;
}

.float_operation_logo{
	cursor: pointer;
	width:37px;
	margin:5px 0;
}

/* -----更多按钮后的其他按钮样式------- */
#more_cont{
	width: 150px;
	margin-left: -45px;
}

.more_logo_cont{
	margin-top: 5px;
	display: inline-block;
	border: solid 1px;
	border-radius: 20px;
	vertical-align: top;
}

.more_operation_logo{
	width: 37px;
	cursor: pointer;
}

/* 更多的具体各操作 */
#reading_mode{
	margin: -20px 10px 0 0;
}

#report{
	padding: 5px;
	margin: -20px 0 0 10px;
}

#report_logo{
	width: 27px;
}